@keyframes showSide {
    from {
        opacity: 0%;
        transform: translateX(200px);
    }

    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes showUp {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes beat {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(0.9);
    }
    21% {
      transform: scale(1.1) skew(0.004turn)
    }
    28% {
      transform: scale(1) skew(0.008turn);
    }
    35% {
      transform: scale(1) skew(0)
    }
  }
  
  @keyframes echo {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    14% {
      opacity: 0.4;
      transform: scale(0.8);
    }
    21% {
      opacity: 0.4;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }

  @keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(3);
    }
  }